body{
    background-color:antiquewhite;
    font-family: Verdana;
    margin: 20px
}

.title{
    color: lightcoral;
    text-align: center;
}

ul{
    display: inline-block;
    height: 100px;
    width: 300px;
    background-color:white;
    padding-left: 50px;
    padding-top: 40px;
    border: 5px dotted rgb(222, 135, 135);
    color: lightcoral;
}